# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Intelij IDEA project files
.idea

# k6 output files
load-testing/output

# VS Code files
.vscode